body.standard-width{
max-width: 1100;
}
.spaces-pad-lft-1em {
    padding-left: 1em;
}

.spaces-pad-rgt-1em {
    padding-right: 1em;
}

.spaces-pad-top-1em {
    padding-top: 1em;
}

.spaces-pad-btm-1em {
    padding-bottom: 1em;
}

.spaces-mar-lft-1em {
    margin-left: 1em;
}

.spaces-mar-rgt-1em {
    margin-right: 1em;
}

.spaces-mar-top-1em {
    margin-top: 1em;
}

.spaces-mar-btm-1em {
    margin-bottom: 1em;
}

.spaces-gap-1em {
    gap: 1em;
}

.spaces-row-gap-1em {
    row-gap: 1em;
}

.spaces-col-gap-1em {
    column-gap: 1em;
}

.spaces-pad-lft-1-5em {
    padding-left: 1.5em;
}

.spaces-pad-rgt-1-5em {
    padding-right: 1.5em;
}

.spaces-pad-top-1-5em {
    padding-top: 1.5em;
}

.spaces-pad-btm-1-5em {
    padding-bottom: 1.5em;
}

.spaces-mar-lft-1-5em {
    margin-left: 1.5em;
}

.spaces-mar-rgt-1-5em {
    margin-right: 1.5em;
}

.spaces-mar-top-1-5em {
    margin-top: 1.5em;
}

.spaces-mar-btm-1-5em {
    margin-bottom: 1.5em;
}

.spaces-gap-1-5em {
    gap: 1.5em;
}

.spaces-row-gap-1-5em {
    row-gap: 1.5em;
}

.spaces-col-gap-1-5em {
    column-gap: 1.5em;
}

.spaces-pad-lft-2em {
    padding-left: 2em;
}

.spaces-pad-rgt-2em {
    padding-right: 2em;
}

.spaces-pad-top-2em {
    padding-top: 2em;
}

.spaces-pad-btm-2em {
    padding-bottom: 2em;
}

.spaces-mar-lft-2em {
    margin-left: 2em;
}

.spaces-mar-rgt-2em {
    margin-right: 2em;
}

.spaces-mar-top-2em {
    margin-top: 2em;
}

.spaces-mar-btm-2em {
    margin-bottom: 2em;
}

.spaces-gap-2em {
    gap: 2em;
}

.spaces-row-gap-2em {
    row-gap: 2em;
}

.spaces-col-gap-2em {
    column-gap: 2em;
}

.spaces-pad-lft-2-5em {
    padding-left: 2.5em;
}

.spaces-pad-rgt-2-5em {
    padding-right: 2.5em;
}

.spaces-pad-top-2-5em {
    padding-top: 2.5em;
}

.spaces-pad-btm-2-5em {
    padding-bottom: 2.5em;
}

.spaces-mar-lft-2-5em {
    margin-left: 2.5em;
}

.spaces-mar-rgt-2-5em {
    margin-right: 2.5em;
}

.spaces-mar-top-2-5em {
    margin-top: 2.5em;
}

.spaces-mar-btm-2-5em {
    margin-bottom: 2.5em;
}

.spaces-gap-2-5em {
    gap: 2.5em;
}

.spaces-row-gap-2-5em {
    row-gap: 2.5em;
}

.spaces-col-gap-2-5em {
    column-gap: 2.5em;
}

.spaces-pad-lft-3em {
    padding-left: 3em;
}

.spaces-pad-rgt-3em {
    padding-right: 3em;
}

.spaces-pad-top-3em {
    padding-top: 3em;
}

.spaces-pad-btm-3em {
    padding-bottom: 3em;
}

.spaces-mar-lft-3em {
    margin-left: 3em;
}

.spaces-mar-rgt-3em {
    margin-right: 3em;
}

.spaces-mar-top-3em {
    margin-top: 3em;
}

.spaces-mar-btm-3em {
    margin-bottom: 3em;
}

.spaces-gap-3em {
    gap: 3em;
}

.spaces-row-gap-3em {
    row-gap: 3em;
}

.spaces-col-gap-3em {
    column-gap: 3em;
}

.spaces-pad-lft-3-5em {
    padding-left: 3.5em;
}

.spaces-pad-rgt-3-5em {
    padding-right: 3.5em;
}

.spaces-pad-top-3-5em {
    padding-top: 3.5em;
}

.spaces-pad-btm-3-5em {
    padding-bottom: 3.5em;
}

.spaces-mar-lft-3-5em {
    margin-left: 3.5em;
}

.spaces-mar-rgt-3-5em {
    margin-right: 3.5em;
}

.spaces-mar-top-3-5em {
    margin-top: 3.5em;
}

.spaces-mar-btm-3-5em {
    margin-bottom: 3.5em;
}

.spaces-gap-3-5em {
    gap: 3.5em;
}

.spaces-row-gap-3-5em {
    row-gap: 3.5em;
}

.spaces-col-gap-3-5em {
    column-gap: 3.5em;
}

.spaces-pad-lft-4em {
    padding-left: 4em;
}

.spaces-pad-rgt-4em {
    padding-right: 4em;
}

.spaces-pad-top-4em {
    padding-top: 4em;
}

.spaces-pad-btm-4em {
    padding-bottom: 4em;
}

.spaces-mar-lft-4em {
    margin-left: 4em;
}

.spaces-mar-rgt-4em {
    margin-right: 4em;
}

.spaces-mar-top-4em {
    margin-top: 4em;
}

.spaces-mar-btm-4em {
    margin-bottom: 4em;
}

.spaces-gap-4em {
    gap: 4em;
}

.spaces-row-gap-4em {
    row-gap: 4em;
}

.spaces-col-gap-4em {
    column-gap: 4em;
}

.spaces-pad-lft-4-5em {
    padding-left: 4.5em;
}

.spaces-pad-rgt-4-5em {
    padding-right: 4.5em;
}

.spaces-pad-top-4-5em {
    padding-top: 4.5em;
}

.spaces-pad-btm-4-5em {
    padding-bottom: 4.5em;
}

.spaces-mar-lft-4-5em {
    margin-left: 4.5em;
}

.spaces-mar-rgt-4-5em {
    margin-right: 4.5em;
}

.spaces-mar-top-4-5em {
    margin-top: 4.5em;
}

.spaces-mar-btm-4-5em {
    margin-bottom: 4.5em;
}

.spaces-gap-4-5em {
    gap: 4.5em;
}

.spaces-row-gap-4-5em {
    row-gap: 4.5em;
}

.spaces-col-gap-4-5em {
    column-gap: 4.5em;
}

.spaces-pad-lft-5em {
    padding-left: 5em;
}

.spaces-pad-rgt-5em {
    padding-right: 5em;
}

.spaces-pad-top-5em {
    padding-top: 5em;
}

.spaces-pad-btm-5em {
    padding-bottom: 5em;
}

.spaces-mar-lft-5em {
    margin-left: 5em;
}

.spaces-mar-rgt-5em {
    margin-right: 5em;
}

.spaces-mar-top-5em {
    margin-top: 5em;
}

.spaces-mar-btm-5em {
    margin-bottom: 5em;
}

.spaces-gap-5em {
    gap: 5em;
}

.spaces-row-gap-5em {
    row-gap: 5em;
}

.spaces-col-gap-5em {
    column-gap: 5em;
}

.spaces-pad-lft-5-5em {
    padding-left: 5.5em;
}

.spaces-pad-rgt-5-5em {
    padding-right: 5.5em;
}

.spaces-pad-top-5-5em {
    padding-top: 5.5em;
}

.spaces-pad-btm-5-5em {
    padding-bottom: 5.5em;
}

.spaces-mar-lft-5-5em {
    margin-left: 5.5em;
}

.spaces-mar-rgt-5-5em {
    margin-right: 5.5em;
}

.spaces-mar-top-5-5em {
    margin-top: 5.5em;
}

.spaces-mar-btm-5-5em {
    margin-bottom: 5.5em;
}

.spaces-gap-5-5em {
    gap: 5.5em;
}

.spaces-row-gap-5-5em {
    row-gap: 5.5em;
}

.spaces-col-gap-5-5em {
    column-gap: 5.5em;
}

.spaces-pad-lft-6em {
    padding-left: 6em;
}

.spaces-pad-rgt-6em {
    padding-right: 6em;
}

.spaces-pad-top-6em {
    padding-top: 6em;
}

.spaces-pad-btm-6em {
    padding-bottom: 6em;
}

.spaces-mar-lft-6em {
    margin-left: 6em;
}

.spaces-mar-rgt-6em {
    margin-right: 6em;
}

.spaces-mar-top-6em {
    margin-top: 6em;
}

.spaces-mar-btm-6em {
    margin-bottom: 6em;
}

.spaces-gap-6em {
    gap: 6em;
}

.spaces-row-gap-6em {
    row-gap: 6em;
}

.spaces-col-gap-6em {
    column-gap: 6em;
}

.spaces-pad-lft-6-5em {
    padding-left: 6.5em;
}

.spaces-pad-rgt-6-5em {
    padding-right: 6.5em;
}

.spaces-pad-top-6-5em {
    padding-top: 6.5em;
}

.spaces-pad-btm-6-5em {
    padding-bottom: 6.5em;
}

.spaces-mar-lft-6-5em {
    margin-left: 6.5em;
}

.spaces-mar-rgt-6-5em {
    margin-right: 6.5em;
}

.spaces-mar-top-6-5em {
    margin-top: 6.5em;
}

.spaces-mar-btm-6-5em {
    margin-bottom: 6.5em;
}

.spaces-gap-6-5em {
    gap: 6.5em;
}

.spaces-row-gap-6-5em {
    row-gap: 6.5em;
}

.spaces-col-gap-6-5em {
    column-gap: 6.5em;
}

.spaces-pad-lft-7em {
    padding-left: 7em;
}

.spaces-pad-rgt-7em {
    padding-right: 7em;
}

.spaces-pad-top-7em {
    padding-top: 7em;
}

.spaces-pad-btm-7em {
    padding-bottom: 7em;
}

.spaces-mar-lft-7em {
    margin-left: 7em;
}

.spaces-mar-rgt-7em {
    margin-right: 7em;
}

.spaces-mar-top-7em {
    margin-top: 7em;
}

.spaces-mar-btm-7em {
    margin-bottom: 7em;
}

.spaces-gap-7em {
    gap: 7em;
}

.spaces-row-gap-7em {
    row-gap: 7em;
}

.spaces-col-gap-7em {
    column-gap: 7em;
}

.spaces-pad-lft-7-5em {
    padding-left: 7.5em;
}

.spaces-pad-rgt-7-5em {
    padding-right: 7.5em;
}

.spaces-pad-top-7-5em {
    padding-top: 7.5em;
}

.spaces-pad-btm-7-5em {
    padding-bottom: 7.5em;
}

.spaces-mar-lft-7-5em {
    margin-left: 7.5em;
}

.spaces-mar-rgt-7-5em {
    margin-right: 7.5em;
}

.spaces-mar-top-7-5em {
    margin-top: 7.5em;
}

.spaces-mar-btm-7-5em {
    margin-bottom: 7.5em;
}

.spaces-gap-7-5em {
    gap: 7.5em;
}

.spaces-row-gap-7-5em {
    row-gap: 7.5em;
}

.spaces-col-gap-7-5em {
    column-gap: 7.5em;
}

.spaces-pad-lft-8em {
    padding-left: 8em;
}

.spaces-pad-rgt-8em {
    padding-right: 8em;
}

.spaces-pad-top-8em {
    padding-top: 8em;
}

.spaces-pad-btm-8em {
    padding-bottom: 8em;
}

.spaces-mar-lft-8em {
    margin-left: 8em;
}

.spaces-mar-rgt-8em {
    margin-right: 8em;
}

.spaces-mar-top-8em {
    margin-top: 8em;
}

.spaces-mar-btm-8em {
    margin-bottom: 8em;
}

.spaces-gap-8em {
    gap: 8em;
}

.spaces-row-gap-8em {
    row-gap: 8em;
}

.spaces-col-gap-8em {
    column-gap: 8em;
}

.spaces-pad-lft-8-5em {
    padding-left: 8.5em;
}

.spaces-pad-rgt-8-5em {
    padding-right: 8.5em;
}

.spaces-pad-top-8-5em {
    padding-top: 8.5em;
}

.spaces-pad-btm-8-5em {
    padding-bottom: 8.5em;
}

.spaces-mar-lft-8-5em {
    margin-left: 8.5em;
}

.spaces-mar-rgt-8-5em {
    margin-right: 8.5em;
}

.spaces-mar-top-8-5em {
    margin-top: 8.5em;
}

.spaces-mar-btm-8-5em {
    margin-bottom: 8.5em;
}

.spaces-gap-8-5em {
    gap: 8.5em;
}

.spaces-row-gap-8-5em {
    row-gap: 8.5em;
}

.spaces-col-gap-8-5em {
    column-gap: 8.5em;
}

.spaces-pad-lft-9em {
    padding-left: 9em;
}

.spaces-pad-rgt-9em {
    padding-right: 9em;
}

.spaces-pad-top-9em {
    padding-top: 9em;
}

.spaces-pad-btm-9em {
    padding-bottom: 9em;
}

.spaces-mar-lft-9em {
    margin-left: 9em;
}

.spaces-mar-rgt-9em {
    margin-right: 9em;
}

.spaces-mar-top-9em {
    margin-top: 9em;
}

.spaces-mar-btm-9em {
    margin-bottom: 9em;
}

.spaces-gap-9em {
    gap: 9em;
}

.spaces-row-gap-9em {
    row-gap: 9em;
}

.spaces-col-gap-9em {
    column-gap: 9em;
}

.spaces-pad-lft-9-5em {
    padding-left: 9.5em;
}

.spaces-pad-rgt-9-5em {
    padding-right: 9.5em;
}

.spaces-pad-top-9-5em {
    padding-top: 9.5em;
}

.spaces-pad-btm-9-5em {
    padding-bottom: 9.5em;
}

.spaces-mar-lft-9-5em {
    margin-left: 9.5em;
}

.spaces-mar-rgt-9-5em {
    margin-right: 9.5em;
}

.spaces-mar-top-9-5em {
    margin-top: 9.5em;
}

.spaces-mar-btm-9-5em {
    margin-bottom: 9.5em;
}

.spaces-gap-9-5em {
    gap: 9.5em;
}

.spaces-row-gap-9-5em {
    row-gap: 9.5em;
}

.spaces-col-gap-9-5em {
    column-gap: 9.5em;
}

.spaces-pad-lft-10em {
    padding-left: 10em;
}

.spaces-pad-rgt-10em {
    padding-right: 10em;
}

.spaces-pad-top-10em {
    padding-top: 10em;
}

.spaces-pad-btm-10em {
    padding-bottom: 10em;
}

.spaces-mar-lft-10em {
    margin-left: 10em;
}

.spaces-mar-rgt-10em {
    margin-right: 10em;
}

.spaces-mar-top-10em {
    margin-top: 10em;
}

.spaces-mar-btm-10em {
    margin-bottom: 10em;
}

.spaces-gap-10em {
    gap: 10em;
}

.spaces-row-gap-10em {
    row-gap: 10em;
}

.spaces-col-gap-10em {
    column-gap: 10em;
}

.spaces-pad-lft-neg-1em {
    padding-left: -1em;
}

.spaces-pad-rgt-neg-1em {
    padding-right: -1em;
}

.spaces-pad-top-neg-1em {
    padding-top: -1em;
}

.spaces-pad-btm-neg-1em {
    padding-bottom: -1em;
}

.spaces-mar-lft-neg-1em {
    margin-left: -1em;
}

.spaces-mar-rgt-neg-1em {
    margin-right: -1em;
}

.spaces-mar-top-neg-1em {
    margin-top: -1em;
}

.spaces-mar-btm-neg-1em {
    margin-bottom: -1em;
}

.spaces-gap-neg-1em {
    gap: -1em;
}

.spaces-row-gap-neg-1em {
    row-gap: -1em;
}

.spaces-col-gap-neg-1em {
    column-gap: -1em;
}

.spaces-pad-lft-neg-1-5em {
    padding-left: -1.5em;
}

.spaces-pad-rgt-neg-1-5em {
    padding-right: -1.5em;
}

.spaces-pad-top-neg-1-5em {
    padding-top: -1.5em;
}

.spaces-pad-btm-neg-1-5em {
    padding-bottom: -1.5em;
}

.spaces-mar-lft-neg-1-5em {
    margin-left: -1.5em;
}

.spaces-mar-rgt-neg-1-5em {
    margin-right: -1.5em;
}

.spaces-mar-top-neg-1-5em {
    margin-top: -1.5em;
}

.spaces-mar-btm-neg-1-5em {
    margin-bottom: -1.5em;
}

.spaces-gap-neg-1-5em {
    gap: -1.5em;
}

.spaces-row-gap-neg-1-5em {
    row-gap: -1.5em;
}

.spaces-col-gap-neg-1-5em {
    column-gap: -1.5em;
}

.spaces-pad-lft-neg-2em {
    padding-left: -2em;
}

.spaces-pad-rgt-neg-2em {
    padding-right: -2em;
}

.spaces-pad-top-neg-2em {
    padding-top: -2em;
}

.spaces-pad-btm-neg-2em {
    padding-bottom: -2em;
}

.spaces-mar-lft-neg-2em {
    margin-left: -2em;
}

.spaces-mar-rgt-neg-2em {
    margin-right: -2em;
}

.spaces-mar-top-neg-2em {
    margin-top: -2em;
}

.spaces-mar-btm-neg-2em {
    margin-bottom: -2em;
}

.spaces-gap-neg-2em {
    gap: -2em;
}

.spaces-row-gap-neg-2em {
    row-gap: -2em;
}

.spaces-col-gap-neg-2em {
    column-gap: -2em;
}

.spaces-pad-lft-neg-2-5em {
    padding-left: -2.5em;
}

.spaces-pad-rgt-neg-2-5em {
    padding-right: -2.5em;
}

.spaces-pad-top-neg-2-5em {
    padding-top: -2.5em;
}

.spaces-pad-btm-neg-2-5em {
    padding-bottom: -2.5em;
}

.spaces-mar-lft-neg-2-5em {
    margin-left: -2.5em;
}

.spaces-mar-rgt-neg-2-5em {
    margin-right: -2.5em;
}

.spaces-mar-top-neg-2-5em {
    margin-top: -2.5em;
}

.spaces-mar-btm-neg-2-5em {
    margin-bottom: -2.5em;
}

.spaces-gap-neg-2-5em {
    gap: -2.5em;
}

.spaces-row-gap-neg-2-5em {
    row-gap: -2.5em;
}

.spaces-col-gap-neg-2-5em {
    column-gap: -2.5em;
}

.spaces-pad-lft-neg-3em {
    padding-left: -3em;
}

.spaces-pad-rgt-neg-3em {
    padding-right: -3em;
}

.spaces-pad-top-neg-3em {
    padding-top: -3em;
}

.spaces-pad-btm-neg-3em {
    padding-bottom: -3em;
}

.spaces-mar-lft-neg-3em {
    margin-left: -3em;
}

.spaces-mar-rgt-neg-3em {
    margin-right: -3em;
}

.spaces-mar-top-neg-3em {
    margin-top: -3em;
}

.spaces-mar-btm-neg-3em {
    margin-bottom: -3em;
}

.spaces-gap-neg-3em {
    gap: -3em;
}

.spaces-row-gap-neg-3em {
    row-gap: -3em;
}

.spaces-col-gap-neg-3em {
    column-gap: -3em;
}

.spaces-pad-lft-neg-3-5em {
    padding-left: -3.5em;
}

.spaces-pad-rgt-neg-3-5em {
    padding-right: -3.5em;
}

.spaces-pad-top-neg-3-5em {
    padding-top: -3.5em;
}

.spaces-pad-btm-neg-3-5em {
    padding-bottom: -3.5em;
}

.spaces-mar-lft-neg-3-5em {
    margin-left: -3.5em;
}

.spaces-mar-rgt-neg-3-5em {
    margin-right: -3.5em;
}

.spaces-mar-top-neg-3-5em {
    margin-top: -3.5em;
}

.spaces-mar-btm-neg-3-5em {
    margin-bottom: -3.5em;
}

.spaces-gap-neg-3-5em {
    gap: -3.5em;
}

.spaces-row-gap-neg-3-5em {
    row-gap: -3.5em;
}

.spaces-col-gap-neg-3-5em {
    column-gap: -3.5em;
}

.spaces-pad-lft-neg-4em {
    padding-left: -4em;
}

.spaces-pad-rgt-neg-4em {
    padding-right: -4em;
}

.spaces-pad-top-neg-4em {
    padding-top: -4em;
}

.spaces-pad-btm-neg-4em {
    padding-bottom: -4em;
}

.spaces-mar-lft-neg-4em {
    margin-left: -4em;
}

.spaces-mar-rgt-neg-4em {
    margin-right: -4em;
}

.spaces-mar-top-neg-4em {
    margin-top: -4em;
}

.spaces-mar-btm-neg-4em {
    margin-bottom: -4em;
}

.spaces-gap-neg-4em {
    gap: -4em;
}

.spaces-row-gap-neg-4em {
    row-gap: -4em;
}

.spaces-col-gap-neg-4em {
    column-gap: -4em;
}

.spaces-pad-lft-neg-4-5em {
    padding-left: -4.5em;
}

.spaces-pad-rgt-neg-4-5em {
    padding-right: -4.5em;
}

.spaces-pad-top-neg-4-5em {
    padding-top: -4.5em;
}

.spaces-pad-btm-neg-4-5em {
    padding-bottom: -4.5em;
}

.spaces-mar-lft-neg-4-5em {
    margin-left: -4.5em;
}

.spaces-mar-rgt-neg-4-5em {
    margin-right: -4.5em;
}

.spaces-mar-top-neg-4-5em {
    margin-top: -4.5em;
}

.spaces-mar-btm-neg-4-5em {
    margin-bottom: -4.5em;
}

.spaces-gap-neg-4-5em {
    gap: -4.5em;
}

.spaces-row-gap-neg-4-5em {
    row-gap: -4.5em;
}

.spaces-col-gap-neg-4-5em {
    column-gap: -4.5em;
}

.spaces-pad-lft-neg-5em {
    padding-left: -5em;
}

.spaces-pad-rgt-neg-5em {
    padding-right: -5em;
}

.spaces-pad-top-neg-5em {
    padding-top: -5em;
}

.spaces-pad-btm-neg-5em {
    padding-bottom: -5em;
}

.spaces-mar-lft-neg-5em {
    margin-left: -5em;
}

.spaces-mar-rgt-neg-5em {
    margin-right: -5em;
}

.spaces-mar-top-neg-5em {
    margin-top: -5em;
}

.spaces-mar-btm-neg-5em {
    margin-bottom: -5em;
}

.spaces-gap-neg-5em {
    gap: -5em;
}

.spaces-row-gap-neg-5em {
    row-gap: -5em;
}

.spaces-col-gap-neg-5em {
    column-gap: -5em;
}

.spaces-pad-lft-neg-5-5em {
    padding-left: -5.5em;
}

.spaces-pad-rgt-neg-5-5em {
    padding-right: -5.5em;
}

.spaces-pad-top-neg-5-5em {
    padding-top: -5.5em;
}

.spaces-pad-btm-neg-5-5em {
    padding-bottom: -5.5em;
}

.spaces-mar-lft-neg-5-5em {
    margin-left: -5.5em;
}

.spaces-mar-rgt-neg-5-5em {
    margin-right: -5.5em;
}

.spaces-mar-top-neg-5-5em {
    margin-top: -5.5em;
}

.spaces-mar-btm-neg-5-5em {
    margin-bottom: -5.5em;
}

.spaces-gap-neg-5-5em {
    gap: -5.5em;
}

.spaces-row-gap-neg-5-5em {
    row-gap: -5.5em;
}

.spaces-col-gap-neg-5-5em {
    column-gap: -5.5em;
}

.spaces-pad-lft-neg-6em {
    padding-left: -6em;
}

.spaces-pad-rgt-neg-6em {
    padding-right: -6em;
}

.spaces-pad-top-neg-6em {
    padding-top: -6em;
}

.spaces-pad-btm-neg-6em {
    padding-bottom: -6em;
}

.spaces-mar-lft-neg-6em {
    margin-left: -6em;
}

.spaces-mar-rgt-neg-6em {
    margin-right: -6em;
}

.spaces-mar-top-neg-6em {
    margin-top: -6em;
}

.spaces-mar-btm-neg-6em {
    margin-bottom: -6em;
}

.spaces-gap-neg-6em {
    gap: -6em;
}

.spaces-row-gap-neg-6em {
    row-gap: -6em;
}

.spaces-col-gap-neg-6em {
    column-gap: -6em;
}

.spaces-pad-lft-neg-6-5em {
    padding-left: -6.5em;
}

.spaces-pad-rgt-neg-6-5em {
    padding-right: -6.5em;
}

.spaces-pad-top-neg-6-5em {
    padding-top: -6.5em;
}

.spaces-pad-btm-neg-6-5em {
    padding-bottom: -6.5em;
}

.spaces-mar-lft-neg-6-5em {
    margin-left: -6.5em;
}

.spaces-mar-rgt-neg-6-5em {
    margin-right: -6.5em;
}

.spaces-mar-top-neg-6-5em {
    margin-top: -6.5em;
}

.spaces-mar-btm-neg-6-5em {
    margin-bottom: -6.5em;
}

.spaces-gap-neg-6-5em {
    gap: -6.5em;
}

.spaces-row-gap-neg-6-5em {
    row-gap: -6.5em;
}

.spaces-col-gap-neg-6-5em {
    column-gap: -6.5em;
}

.spaces-pad-lft-neg-7em {
    padding-left: -7em;
}

.spaces-pad-rgt-neg-7em {
    padding-right: -7em;
}

.spaces-pad-top-neg-7em {
    padding-top: -7em;
}

.spaces-pad-btm-neg-7em {
    padding-bottom: -7em;
}

.spaces-mar-lft-neg-7em {
    margin-left: -7em;
}

.spaces-mar-rgt-neg-7em {
    margin-right: -7em;
}

.spaces-mar-top-neg-7em {
    margin-top: -7em;
}

.spaces-mar-btm-neg-7em {
    margin-bottom: -7em;
}

.spaces-gap-neg-7em {
    gap: -7em;
}

.spaces-row-gap-neg-7em {
    row-gap: -7em;
}

.spaces-col-gap-neg-7em {
    column-gap: -7em;
}

.spaces-pad-lft-neg-7-5em {
    padding-left: -7.5em;
}

.spaces-pad-rgt-neg-7-5em {
    padding-right: -7.5em;
}

.spaces-pad-top-neg-7-5em {
    padding-top: -7.5em;
}

.spaces-pad-btm-neg-7-5em {
    padding-bottom: -7.5em;
}

.spaces-mar-lft-neg-7-5em {
    margin-left: -7.5em;
}

.spaces-mar-rgt-neg-7-5em {
    margin-right: -7.5em;
}

.spaces-mar-top-neg-7-5em {
    margin-top: -7.5em;
}

.spaces-mar-btm-neg-7-5em {
    margin-bottom: -7.5em;
}

.spaces-gap-neg-7-5em {
    gap: -7.5em;
}

.spaces-row-gap-neg-7-5em {
    row-gap: -7.5em;
}

.spaces-col-gap-neg-7-5em {
    column-gap: -7.5em;
}

.spaces-pad-lft-neg-8em {
    padding-left: -8em;
}

.spaces-pad-rgt-neg-8em {
    padding-right: -8em;
}

.spaces-pad-top-neg-8em {
    padding-top: -8em;
}

.spaces-pad-btm-neg-8em {
    padding-bottom: -8em;
}

.spaces-mar-lft-neg-8em {
    margin-left: -8em;
}

.spaces-mar-rgt-neg-8em {
    margin-right: -8em;
}

.spaces-mar-top-neg-8em {
    margin-top: -8em;
}

.spaces-mar-btm-neg-8em {
    margin-bottom: -8em;
}

.spaces-gap-neg-8em {
    gap: -8em;
}

.spaces-row-gap-neg-8em {
    row-gap: -8em;
}

.spaces-col-gap-neg-8em {
    column-gap: -8em;
}

.spaces-pad-lft-neg-8-5em {
    padding-left: -8.5em;
}

.spaces-pad-rgt-neg-8-5em {
    padding-right: -8.5em;
}

.spaces-pad-top-neg-8-5em {
    padding-top: -8.5em;
}

.spaces-pad-btm-neg-8-5em {
    padding-bottom: -8.5em;
}

.spaces-mar-lft-neg-8-5em {
    margin-left: -8.5em;
}

.spaces-mar-rgt-neg-8-5em {
    margin-right: -8.5em;
}

.spaces-mar-top-neg-8-5em {
    margin-top: -8.5em;
}

.spaces-mar-btm-neg-8-5em {
    margin-bottom: -8.5em;
}

.spaces-gap-neg-8-5em {
    gap: -8.5em;
}

.spaces-row-gap-neg-8-5em {
    row-gap: -8.5em;
}

.spaces-col-gap-neg-8-5em {
    column-gap: -8.5em;
}

.spaces-pad-lft-neg-9em {
    padding-left: -9em;
}

.spaces-pad-rgt-neg-9em {
    padding-right: -9em;
}

.spaces-pad-top-neg-9em {
    padding-top: -9em;
}

.spaces-pad-btm-neg-9em {
    padding-bottom: -9em;
}

.spaces-mar-lft-neg-9em {
    margin-left: -9em;
}

.spaces-mar-rgt-neg-9em {
    margin-right: -9em;
}

.spaces-mar-top-neg-9em {
    margin-top: -9em;
}

.spaces-mar-btm-neg-9em {
    margin-bottom: -9em;
}

.spaces-gap-neg-9em {
    gap: -9em;
}

.spaces-row-gap-neg-9em {
    row-gap: -9em;
}

.spaces-col-gap-neg-9em {
    column-gap: -9em;
}

.spaces-pad-lft-neg-9-5em {
    padding-left: -9.5em;
}

.spaces-pad-rgt-neg-9-5em {
    padding-right: -9.5em;
}

.spaces-pad-top-neg-9-5em {
    padding-top: -9.5em;
}

.spaces-pad-btm-neg-9-5em {
    padding-bottom: -9.5em;
}

.spaces-mar-lft-neg-9-5em {
    margin-left: -9.5em;
}

.spaces-mar-rgt-neg-9-5em {
    margin-right: -9.5em;
}

.spaces-mar-top-neg-9-5em {
    margin-top: -9.5em;
}

.spaces-mar-btm-neg-9-5em {
    margin-bottom: -9.5em;
}

.spaces-gap-neg-9-5em {
    gap: -9.5em;
}

.spaces-row-gap-neg-9-5em {
    row-gap: -9.5em;
}

.spaces-col-gap-neg-9-5em {
    column-gap: -9.5em;
}

.spaces-pad-lft-neg-10em {
    padding-left: -10em;
}

.spaces-pad-rgt-neg-10em {
    padding-right: -10em;
}

.spaces-pad-top-neg-10em {
    padding-top: -10em;
}

.spaces-pad-btm-neg-10em {
    padding-bottom: -10em;
}

.spaces-mar-lft-neg-10em {
    margin-left: -10em;
}

.spaces-mar-rgt-neg-10em {
    margin-right: -10em;
}

.spaces-mar-top-neg-10em {
    margin-top: -10em;
}

.spaces-mar-btm-neg-10em {
    margin-bottom: -10em;
}

.spaces-gap-neg-10em {
    gap: -10em;
}

.spaces-row-gap-neg-10em {
    row-gap: -10em;
}

.spaces-col-gap-neg-10em {
    column-gap: -10em;
}

.spaces-pad-lft-inherit {
    padding-left: inherit;
}

.spaces-pad-rgt-inherit {
    padding-right: inherit;
}

.spaces-pad-top-inherit {
    padding-top: inherit;
}

.spaces-pad-btm-inherit {
    padding-bottom: inherit;
}

.spaces-mar-lft-inherit {
    margin-left: inherit;
}

.spaces-mar-rgt-inherit {
    margin-right: inherit;
}

.spaces-mar-top-inherit {
    margin-top: inherit;
}

.spaces-mar-btm-inherit {
    margin-bottom: inherit;
}

.spaces-gap-inherit {
    gap: inherit;
}

.spaces-row-gap-inherit {
    row-gap: inherit;
}

.spaces-col-gap-inherit {
    column-gap: inherit;
}

.spaces-pad-lft-initial {
    padding-left: initial;
}

.spaces-pad-rgt-initial {
    padding-right: initial;
}

.spaces-pad-top-initial {
    padding-top: initial;
}

.spaces-pad-btm-initial {
    padding-bottom: initial;
}

.spaces-mar-lft-initial {
    margin-left: initial;
}

.spaces-mar-rgt-initial {
    margin-right: initial;
}

.spaces-mar-top-initial {
    margin-top: initial;
}

.spaces-mar-btm-initial {
    margin-bottom: initial;
}

.spaces-gap-initial {
    gap: initial;
}

.spaces-row-gap-initial {
    row-gap: initial;
}

.spaces-col-gap-initial {
    column-gap: initial;
}

.spaces-pad-lft-revert {
    padding-left: revert;
}

.spaces-pad-rgt-revert {
    padding-right: revert;
}

.spaces-pad-top-revert {
    padding-top: revert;
}

.spaces-pad-btm-revert {
    padding-bottom: revert;
}

.spaces-mar-lft-revert {
    margin-left: revert;
}

.spaces-mar-rgt-revert {
    margin-right: revert;
}

.spaces-mar-top-revert {
    margin-top: revert;
}

.spaces-mar-btm-revert {
    margin-bottom: revert;
}

.spaces-gap-revert {
    gap: revert;
}

.spaces-row-gap-revert {
    row-gap: revert;
}

.spaces-col-gap-revert {
    column-gap: revert;
}

.spaces-pad-lft-revert-layer {
    padding-left: revert-layer;
}

.spaces-pad-rgt-revert-layer {
    padding-right: revert-layer;
}

.spaces-pad-top-revert-layer {
    padding-top: revert-layer;
}

.spaces-pad-btm-revert-layer {
    padding-bottom: revert-layer;
}

.spaces-mar-lft-revert-layer {
    margin-left: revert-layer;
}

.spaces-mar-rgt-revert-layer {
    margin-right: revert-layer;
}

.spaces-mar-top-revert-layer {
    margin-top: revert-layer;
}

.spaces-mar-btm-revert-layer {
    margin-bottom: revert-layer;
}

.spaces-gap-revert-layer {
    gap: revert-layer;
}

.spaces-row-gap-revert-layer {
    row-gap: revert-layer;
}

.spaces-col-gap-revert-layer {
    column-gap: revert-layer;
}

.spaces-pad-lft-unset {
    padding-left: unset;
}

.spaces-pad-rgt-unset {
    padding-right: unset;
}

.spaces-pad-top-unset {
    padding-top: unset;
}

.spaces-pad-btm-unset {
    padding-bottom: unset;
}

.spaces-mar-lft-unset {
    margin-left: unset;
}

.spaces-mar-rgt-unset {
    margin-right: unset;
}

.spaces-mar-top-unset {
    margin-top: unset;
}

.spaces-mar-btm-unset {
    margin-bottom: unset;
}

.spaces-gap-unset {
    gap: unset;
}

.spaces-row-gap-unset {
    row-gap: unset;
}

.spaces-col-gap-unset {
    column-gap: unset;
}

.spaces-mar-lft-auto {
    margin-left: auto;
}

.spaces-mar-rgt-auto {
    margin-right: auto;
}

.spaces-mar-top-auto {
    margin-top: auto;
}

.spaces-mar-btm-auto {
    margin-bottom: auto;
}
