.wordy-break-text{
    word-wrap: break-word;
}
.wordy-normal-points{
    word-wrap: normal;
}
.wordy-inital-wrap{
    word-wrap: initial;
}
.wordy-inherit-wrap{
    word-wrap: inherit;
}
.wordy-wrap{
    text-wrap: wrap;
}
.wordy-nowrap{
    text-wrap: nowrap;
}
.wordy-balance-wrap{
    text-wrap: balance;
}
.wordy-pretty-wrap{
    text-wrap: pretty;
}
.wordy-stable-wrap{
    text-wrap: stable;
}
.wordy-revert-wrap{
    text-wrap: revert;
}
.wordy-revert-layer-wrap{
    text-wrap: revert-layer;
}
.wordy-unset-wrap{
    text-wrap: revert;
}
.wordy-underline-offset-auto{
    text-underline-offset: auto;
}
.wordy-underline-offset-1em{
    text-underline-offset: 1em;
}
.wordy-underline-offset-09em{
    text-underline-offset: .9em;
}
.wordy-underline-offset-08em{
    text-underline-offset: .8em;
}
.wordy-underline-offset-07em{
    text-underline-offset: .7em;
}
.wordy-underline-offset-06em{
    text-underline-offset: .6em;
}
.wordy-underline-offset-05em{
    text-underline-offset: .5em;
}
.wordy-underline-offset-04em{
    text-underline-offset: .4em;
}
.wordy-underline-offset-03em{
    text-underline-offset: .3em;
}
.wordy-underline-offset-02em{
    text-underline-offset: .2em;
}
.wordy-underline-offset-01em{
    text-underline-offset: .01em;
}

.wordy-underline-offset-inherit{
    text-underline-offset: inherit;
}

.wordy-underline-offset-initial{
    text-underline-offset: initial;
}

.wordy-underline-offset-revert{
    text-underline-offset: revert;
}

.wordy-underline-offset-revert-layer{
    text-underline-offset: revert-layer;
}

.wordy-underline-offset-unset{
    text-underline-offset: unset;
}


.wordy-text-indent-0 {
    text-indent: 0;
}

/* Positive fractional */

.wordy-text-indent-01em {
    text-indent: .1em;
}

.wordy-text-indent-01em-hanging {
    text-indent: .1em hanging;
}

.wordy-text-indent-01em-eachline {
    text-indent: .1em each-line;
}

.wordy-text-indent-01em-eachline-hanging {
    text-indent: .1em each-line hanging;
}

.wordy-text-indent-02em {
    text-indent: .2em;
}

.wordy-text-indent-02em-hanging {
    text-indent: .2em hanging;
}

.wordy-text-indent-02em-eachline {
    text-indent: .2em each-line;
}

.wordy-text-indent-02em-eachline-hanging {
    text-indent: .2em each-line hanging;
}

.wordy-text-indent-03em {
    text-indent: .3em;
}

.wordy-text-indent-03em-hanging {
    text-indent: .3em hanging;
}

.wordy-text-indent-03em-eachline {
    text-indent: .3em each-line;
}

.wordy-text-indent-03em-eachline-hanging {
    text-indent: .3em each-line hanging;
}

.wordy-text-indent-04em {
    text-indent: .4em;
}

.wordy-text-indent-04em-hanging {
    text-indent: .4em hanging;
}

.wordy-text-indent-04em-eachline {
    text-indent: .4em each-line;
}

.wordy-text-indent-04em-eachline-hanging {
    text-indent: .4em each-line hanging;
}

.wordy-text-indent-05em {
    text-indent: .5em;
}

.wordy-text-indent-05em-hanging {
    text-indent: .5em hanging;
}

.wordy-text-indent-05em-eachline {
    text-indent: .5em each-line;
}

.wordy-text-indent-05em-eachline-hanging {
    text-indent: .5em each-line hanging;
}

.wordy-text-indent-06em {
    text-indent: .6em;
}

.wordy-text-indent-06em-hanging {
    text-indent: .6em hanging;
}

.wordy-text-indent-06em-eachline {
    text-indent: .6em each-line;
}

.wordy-text-indent-06em-eachline-hanging {
    text-indent: .6em each-line hanging;
}

.wordy-text-indent-07em {
    text-indent: .7em;
}

.wordy-text-indent-07em-hanging {
    text-indent: .7em hanging;
}

.wordy-text-indent-07em-eachline {
    text-indent: .7em each-line;
}

.wordy-text-indent-07em-eachline-hanging {
    text-indent: .7em each-line hanging;
}

.wordy-text-indent-08em {
    text-indent: .8em;
}

.wordy-text-indent-08em-hanging {
    text-indent: .8em hanging;
}

.wordy-text-indent-08em-eachline {
    text-indent: .8em each-line;
}

.wordy-text-indent-08em-eachline-hanging {
    text-indent: .8em each-line hanging;
}

.wordy-text-indent-09em {
    text-indent: .9em;
}

.wordy-text-indent-09em-hanging {
    text-indent: .9em hanging;
}

.wordy-text-indent-09em-eachline {
    text-indent: .9em each-line;
}

.wordy-text-indent-09em-eachline-hanging {
    text-indent: .9em each-line hanging;
}

/* Positive whole */

.wordy-text-indent-1em {
    text-indent: 1em;
}

.wordy-text-indent-1em-hanging {
    text-indent: 1em hanging;
}

.wordy-text-indent-1em-eachline {
    text-indent: 1em each-line;
}

.wordy-text-indent-1em-eachline-hanging {
    text-indent: 1em each-line hanging;
}

.wordy-text-indent-2em {
    text-indent: 2em;
}

.wordy-text-indent-2em-hanging {
    text-indent: 2em hanging;
}

.wordy-text-indent-2em-eachline {
    text-indent: 2em each-line;
}

.wordy-text-indent-2em-eachline-hanging {
    text-indent: 2em each-line hanging;
}

.wordy-text-indent-3em {
    text-indent: 3em;
}

.wordy-text-indent-3em-hanging {
    text-indent: 3em hanging;
}

.wordy-text-indent-3em-eachline {
    text-indent: 3em each-line;
}

.wordy-text-indent-3em-eachline-hanging {
    text-indent: 3em each-line hanging;
}

.wordy-text-indent-4em {
    text-indent: 4em;
}

.wordy-text-indent-4em-hanging {
    text-indent: 4em hanging;
}

.wordy-text-indent-4em-eachline {
    text-indent: 4em each-line;
}

.wordy-text-indent-4em-eachline-hanging {
    text-indent: 4em each-line hanging;
}

.wordy-text-indent-5em {
    text-indent: 5em;
}

.wordy-text-indent-5em-hanging {
    text-indent: 5em hanging;
}

.wordy-text-indent-5em-eachline {
    text-indent: 5em each-line;
}

.wordy-text-indent-5em-eachline-hanging {
    text-indent: 5em each-line hanging;
}

.wordy-text-indent-6em {
    text-indent: 6em;
}

.wordy-text-indent-6em-hanging {
    text-indent: 6em hanging;
}

.wordy-text-indent-6em-eachline {
    text-indent: 6em each-line;
}

.wordy-text-indent-6em-eachline-hanging {
    text-indent: 6em each-line hanging;
}

.wordy-text-indent-7em {
    text-indent: 7em;
}

.wordy-text-indent-7em-hanging {
    text-indent: 7em hanging;
}

.wordy-text-indent-7em-eachline {
    text-indent: 7em each-line;
}

.wordy-text-indent-7em-eachline-hanging {
    text-indent: 7em each-line hanging;
}

.wordy-text-indent-8em {
    text-indent: 8em;
}

.wordy-text-indent-8em-hanging {
    text-indent: 8em hanging;
}

.wordy-text-indent-8em-eachline {
    text-indent: 8em each-line;
}

.wordy-text-indent-8em-eachline-hanging {
    text-indent: 8em each-line hanging;
}

.wordy-text-indent-9em {
    text-indent: 9em;
}

.wordy-text-indent-9em-hanging {
    text-indent: 9em hanging;
}

.wordy-text-indent-9em-eachline {
    text-indent: 9em each-line;
}

.wordy-text-indent-9em-eachline-hanging {
    text-indent: 9em each-line hanging;
}

.wordy-text-indent-10em {
    text-indent: 10em;
}

.wordy-text-indent-10em-hanging {
    text-indent: 10em hanging;
}

.wordy-text-indent-10em-eachline {
    text-indent: 10em each-line;
}

.wordy-text-indent-10em-eachline-hanging {
    text-indent: 10em each-line hanging;
}

/* Negative fractional */

.wordy-text-indent-n01em {
    text-indent: -.1em;
}

.wordy-text-indent-n01em-hanging {
    text-indent: -.1em hanging;
}

.wordy-text-indent-n01em-eachline {
    text-indent: -.1em each-line;
}

.wordy-text-indent-n01em-eachline-hanging {
    text-indent: -.1em each-line hanging;
}

.wordy-text-indent-n02em {
    text-indent: -.2em;
}

.wordy-text-indent-n02em-hanging {
    text-indent: -.2em hanging;
}

.wordy-text-indent-n02em-eachline {
    text-indent: -.2em each-line;
}

.wordy-text-indent-n02em-eachline-hanging {
    text-indent: -.2em each-line hanging;
}

.wordy-text-indent-n03em {
    text-indent: -.3em;
}

.wordy-text-indent-n03em-hanging {
    text-indent: -.3em hanging;
}

.wordy-text-indent-n03em-eachline {
    text-indent: -.3em each-line;
}

.wordy-text-indent-n03em-eachline-hanging {
    text-indent: -.3em each-line hanging;
}

.wordy-text-indent-n04em {
    text-indent: -.4em;
}

.wordy-text-indent-n04em-hanging {
    text-indent: -.4em hanging;
}

.wordy-text-indent-n04em-eachline {
    text-indent: -.4em each-line;
}

.wordy-text-indent-n04em-eachline-hanging {
    text-indent: -.4em each-line hanging;
}

.wordy-text-indent-n05em {
    text-indent: -.5em;
}

.wordy-text-indent-n05em-hanging {
    text-indent: -.5em hanging;
}

.wordy-text-indent-n05em-eachline {
    text-indent: -.5em each-line;
}

.wordy-text-indent-n05em-eachline-hanging {
    text-indent: -.5em each-line hanging;
}

.wordy-text-indent-n06em {
    text-indent: -.6em;
}

.wordy-text-indent-n06em-hanging {
    text-indent: -.6em hanging;
}

.wordy-text-indent-n06em-eachline {
    text-indent: -.6em each-line;
}

.wordy-text-indent-n06em-eachline-hanging {
    text-indent: -.6em each-line hanging;
}

.wordy-text-indent-n07em {
    text-indent: -.7em;
}

.wordy-text-indent-n07em-hanging {
    text-indent: -.7em hanging;
}

.wordy-text-indent-n07em-eachline {
    text-indent: -.7em each-line;
}

.wordy-text-indent-n07em-eachline-hanging {
    text-indent: -.7em each-line hanging;
}

.wordy-text-indent-n08em {
    text-indent: -.8em;
}

.wordy-text-indent-n08em-hanging {
    text-indent: -.8em hanging;
}

.wordy-text-indent-n08em-eachline {
    text-indent: -.8em each-line;
}

.wordy-text-indent-n08em-eachline-hanging {
    text-indent: -.8em each-line hanging;
}

.wordy-text-indent-n09em {
    text-indent: -.9em;
}

.wordy-text-indent-n09em-hanging {
    text-indent: -.9em hanging;
}

.wordy-text-indent-n09em-eachline {
    text-indent: -.9em each-line;
}

.wordy-text-indent-n09em-eachline-hanging {
    text-indent: -.9em each-line hanging;
}

/* Negative whole */

.wordy-text-indent-n1em {
    text-indent: -1em;
}

.wordy-text-indent-n1em-hanging {
    text-indent: -1em hanging;
}

.wordy-text-indent-n1em-eachline {
    text-indent: -1em each-line;
}

.wordy-text-indent-n1em-eachline-hanging {
    text-indent: -1em each-line hanging;
}

.wordy-text-indent-n2em {
    text-indent: -2em;
}

.wordy-text-indent-n2em-hanging {
    text-indent: -2em hanging;
}

.wordy-text-indent-n2em-eachline {
    text-indent: -2em each-line;
}

.wordy-text-indent-n2em-eachline-hanging {
    text-indent: -2em each-line hanging;
}

.wordy-text-indent-n3em {
    text-indent: -3em;
}

.wordy-text-indent-n3em-hanging {
    text-indent: -3em hanging;
}

.wordy-text-indent-n3em-eachline {
    text-indent: -3em each-line;
}

.wordy-text-indent-n3em-eachline-hanging {
    text-indent: -3em each-line hanging;
}

.wordy-text-indent-n4em {
    text-indent: -4em;
}

.wordy-text-indent-n4em-hanging {
    text-indent: -4em hanging;
}

.wordy-text-indent-n4em-eachline {
    text-indent: -4em each-line;
}

.wordy-text-indent-n4em-eachline-hanging {
    text-indent: -4em each-line hanging;
}

.wordy-text-indent-n5em {
    text-indent: -5em;
}

.wordy-text-indent-n5em-hanging {
    text-indent: -5em hanging;
}

.wordy-text-indent-n5em-eachline {
    text-indent: -5em each-line;
}

.wordy-text-indent-n5em-eachline-hanging {
    text-indent: -5em each-line hanging;
}

.wordy-text-indent-n6em {
    text-indent: -6em;
}

.wordy-text-indent-n6em-hanging {
    text-indent: -6em hanging;
}

.wordy-text-indent-n6em-eachline {
    text-indent: -6em each-line;
}

.wordy-text-indent-n6em-eachline-hanging {
    text-indent: -6em each-line hanging;
}

.wordy-text-indent-n7em {
    text-indent: -7em;
}

.wordy-text-indent-n7em-hanging {
    text-indent: -7em hanging;
}

.wordy-text-indent-n7em-eachline {
    text-indent: -7em each-line;
}

.wordy-text-indent-n7em-eachline-hanging {
    text-indent: -7em each-line hanging;
}

.wordy-text-indent-n8em {
    text-indent: -8em;
}

.wordy-text-indent-n8em-hanging {
    text-indent: -8em hanging;
}

.wordy-text-indent-n8em-eachline {
    text-indent: -8em each-line;
}

.wordy-text-indent-n8em-eachline-hanging {
    text-indent: -8em each-line hanging;
}

.wordy-text-indent-n9em {
    text-indent: -9em;
}

.wordy-text-indent-n9em-hanging {
    text-indent: -9em hanging;
}

.wordy-text-indent-n9em-eachline {
    text-indent: -9em each-line;
}

.wordy-text-indent-n9em-eachline-hanging {
    text-indent: -9em each-line hanging;
}

.wordy-text-indent-n10em {
    text-indent: -10em;
}

.wordy-text-indent-n10em-hanging {
    text-indent: -10em hanging;
}

.wordy-text-indent-n10em-eachline {
    text-indent: -10em each-line;
}

.wordy-text-indent-n10em-eachline-hanging {
    text-indent: -10em each-line hanging;
}